*.ruser
*.suo
*.user
*.useroscache
*.sln.docstates

*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/

Generated\ Files/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml
nunit-*.xml
[Dd]ebugPS/
[Re]eleasePS/
dlldata.c

BenchmarkDotNet.Artifacts/

project.lock.json
project.fragment.lock.json
artifacts/

ScoffoldingReadMe.txt
StyleCopReport.xml

*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pbd
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

_Chutzpah*

